/* Css for hotel type list */
.hotel_type_area {
  margin: 10px;
}
.hotel_type_list {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

@media screen and (max-width: 576px) {
  .hotel_type_area {
    margin: 10px;
  }
  .hotel_type_list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
