.city_item {
  position: relative; /* Position relative to allow absolute positioning of child elements */
  height: auto;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.city_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.city_info {
  position: absolute; /* Position absolute */
  bottom: 20px; /* Adjust vertical position as needed */
  left: 20px; /* Adjust horizontal position as needed */
  color: white; /* Text color */
}
