/* Css for navbar */
.navbar__container {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: 60px 50px;
  color: #fff;
}

.navbar__title {
  margin-top: 20px;
  grid-column: 1 / span 3;
}

.navbar_btn_group {
  display: flex;
  justify-content: right;
  gap: 10px;
  padding: 15px 0px;
  grid-column: 10/11;
}

.navbar_btn_group .btn__login,
.btn__register {
  color: #003580;
  width: 70px;
  cursor: pointer;
}

.navbar_items {
  display: flex;
  grid-column: 1/-1;
  grid-row: 2/-1;
  margin-bottom: 10px;
  font-size: 12px;
  flex-wrap: wrap;
  gap: 10px;
}

.navbar_items .navbar__item:first-child {
  margin-left: 0px !important;
}

/* On screens that are 576px or less */
@media screen and (max-width: 576px) {
  .navbar__container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(2, auto);
    color: #fff;
  }

  .navbar__title {
    display: flex;
    margin-top: 0px;
    grid-column: 1 / span 2;
    align-items: center;
  }

  .navbar_btn_group {
    display: flex;
    justify-content: left;
    gap: 2px;
    padding: 15px 0px;
    grid-column: 4 / span 2;
    margin-right: 20px;
  }

  .navbar_btn_group .btn__login,
  .btn__register {
    color: #003580;
    width: 70px;
    cursor: pointer;
  }

  .navbar_items {
    grid-column: 1 / span 5;
  }
}
