/* Css for Search page */
.header_area {
  background-color: #003580;
}

.header_area_content {
  margin: 0 auto;
  max-width: 1200px;
}

.search_body_area {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10px;
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 50px;
}

.search-popup-area {
  grid-column: 1 / span 2;
}

.search-list-area {
  grid-column: 3 / span 6;
}
