/* Css for footer list */
.footer_list {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: space-between;
  padding-left: 0px;
}

@media screen and (max-width: 576px) {
  .footer_list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    width: 100%;
    justify-content: center;
  }
}
